@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #2e66bf;
    --text-black-700: #473aff;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Philosopher', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}

.content {
    padding-left: 270px;
}

.hidden {
    display: none !important;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}



.new-h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.padd-top {
    padding-top: 5%;
}

.gap {
    gap: 10px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .container {
    padding-top: 50px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
}

.section-title h2 {
    font-size: 30px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn {
    font-size: 18px;
    font-family: 'Philosopher', sans-serif;
    font-weight: 500;
    padding: 12px 35px;
    color: #2e66bf;
    border-radius: 40px;
    border: none;
    display: inline-block;
    white-space: nowrap;
    background: var(--skin-color);
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.06);
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.side-bar {
    width: 270px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    padding: 30px;
    background: var(--bg-black-100);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 10;
}

.side-bar .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.side-bar .logo a {
    color: #2e66bf;
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 1px;
    position: relative;
}

.side-bar .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
}

.side-bar .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.side-bar.expand {
    transform: translateX(0);
    z-index: 3000;
    background-color: #fff; /* Set a distinct background color */

}

.side-bar .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.side-bar .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.side-bar .nav {
    margin-top: 180px;
}

.side-bar .nav li{
    margin-bottom: 20px;
    display: block;
}

.side-bar .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: #2e66bf;
    padding: 5px 15px;
}

.side-bar .nav li a.active {
    color: var(--skin-color);
}

.side-bar .nav li a i {
    margin-right: 15px;
}

/* Home section starts here */

.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello {
    font-size: 22px;
    margin: 15px 0;
}

h3.my-profession {
    font-size: 22px;
    margin: 15px 0;
}

.typing {
    font-size: 28px;
    color: var(--skin-color);
}

.home-info p {
    margin-bottom: 70px;
    font-size: 16px;
    color: black;
}

h3.hello span {
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home .home-img img {
    height: 400px;
    margin: auto;
    border-radius: 5px;
}
/* Home section ends here */

/* About me section starts here */
.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
    color: var(--skin-color);
}

.about .about-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    /* Need to add a font color later depending on final theme */
    text-align: justify;
}

.about .about-content .personal-info {
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item {
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .personal-info .buttons {
    margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
    margin-right: 15px;
    margin-top: 10px;
}

.about .about-content .skills {
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}

.about .about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .skills .skill-item h5 {
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.about .about-content .skills .skill-item .progress {
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.about .about-content .skills .skill-item {
    margin-bottom: 25px;
}

.about .about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}

.about .about-content .skills .skill-item .skill-percent {
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}

.about .about-content .education {
    margin-top: 30px;
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .timeline {
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 30px;
}

.about .about-content .timeline .timeline-item:last-child {
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before{
    content: '';
    width: 3px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}

.about .about-content .timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
}

.about .about-content .timeline .timeline-date .fa {
    margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.about .about-content .timeline .timeline-text {
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}

/*Service section starts here*/
.service .service-item {
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.service .service-item .service-item-inner {
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    align-content: center;
    height: 100%;
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.service .service-item .service-item-inner .icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner .icon .fa {
    font-size: 35px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover .icon .fa {
    font-size: 28px;
    color: #2e66bf;
}

.service .service-item .service-item-inner h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}

.service .service-item .service-item-inner p {
    font-size: 16px;
    line-height: 25px;
}

/*Portfolio section starts here*/
.portfolio .portfolio-heading {
    flex: 0 0 100%;
    max-width: 100%;

}

.portfolio .portfolio-heading h2 {
    font-weight: 700;
}

.portfolio .portfolio-item {
    margin-top: 10px;
}

.portfolio .portfolio-item h3 {
    color: var(--text-black-900);
}

.portfolio .portfolio-item .container {
    background-color: var(--bg-black-100);
    display: inline-flex;
}

/*Contact me section starts here*/
.contact-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}

.info {
    margin-top: 20px;
}

.contact .contact-info-item .icon {
    display: inline-block;
}

.contact .contact-info-item .icon .fa {
    font-size: 25px;
    color: var(--skin-color);
}

.contact .contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-info-item p {
    font-size: 16px;
}

.contact .feedback-form {
    text-align: center;
}

.contact .feedback-form input {
    font-family: 'Philosopher', sans-serif;
}

.contact .feedback-form .feedbackNameBox{
    width: 30%;
}

.contact .feedback-form .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.contact .feedback-form .rating > label {
    display: inline-block;
    padding: 5px;
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
}

.contact .feedback-form .rating > label:hover,
.contact .feedback-form .rating > label:hover ~ label,
.contact .feedback-form .rating > input:checked ~ label {
    color: #ffcc00;
}

.contact .feedback-form .rating > input:checked ~ label:hover,
.contact .feedback-form .rating > input:checked ~ label:hover ~ label {
    color: #ffcc00;
}

.contact .feedback-form .rating > input {
    display: none;
}

.contact .feedback-form textarea {
    width: 260px;
    height: 60px;
    font-family: 'Philosopher', sans-serif;
    word-wrap: normal;
}

.contact .feedback-form .feedbackbtn {
    margin-top: 2%;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .content {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 0; 
    }

    body.sidebar-expanded .side-bar {
        left: 0;
    }

    body.sidebar-expanded .content {
        margin-left: 270px; /* Adjust based on the width of your sidebar */
    }

    .side-bar {
        width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: -100%; /* Initially hide the side nav off-screen */
        transition: left 0.3s ease;
    }

    .side-bar .nav {
        position: fixed;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
        width: 100%;
        top: 70px;
        left: 0;
        background: var(--bg-black-100);
        border-right: 1px solid var(--bg-black-50);
    }

    .side-bar .nav.show {
        left: 0%;
        display: flex;
    }

    .side-bar .nav li a {
        display: block;
        padding: 10px 15px;
        border-bottom: 1px solid var(--bg-black-50);
    }

}

/* Responsive styles */
@media screen and (max-width: 768px) {
    /* ... Previous responsive styles ... */

    /* Home section */
    .home {
        flex-direction: column;
        text-align: center;
    }

    .home .home-info {
        order: 2;
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 20px;
    }

    .home .home-img {
        order: 1;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .home .home-img img {
        height: auto;
        width: 100%;
    }

    /* About section */
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about .about-content .about-text,
    .about .about-content .personal-info,
    .about .about-content .skills,
    .about .about-content .education,
    .about .about-content .timeline-box {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }

    /* Service section */
    .service .service-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* Portfolio section */
    .portfolio .portfolio-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* Contact section */
    .contact .contact-info-item {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    /* ... Previous responsive styles ... */

    /* Home section */
    .home {
        flex-direction: column;
        text-align: center;
    }

    .home .home-info,
    .home .home-img {
        order: 2;
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 20px;
    }

    .home .home-img img {
        height: auto;
        width: 100%;
        border-radius: 5px; /* Add border-radius for image */
    }

    /* About section */
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }

    .side-bar .logo {
        position: absolute;
        top: 80px;
        right: 20%;
        left: 10%;
        font-size: 30px;
        text-transform: capitalize;
    }

    .about .about-content .about-text,
    .about .about-content .personal-info,
    .about .about-content .skills,
    .about .about-content .education,
    .about .about-content .timeline-box {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }

    /* Service section */
    .service .service-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* Portfolio section */
    .portfolio .portfolio-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* Contact section */
    .contact .contact-info-item {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }

    /* Sidebar */
    .side-bar {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: -100%; /* Initially hide the side nav off-screen */
        transition: left 0.3s ease;
    }

    .side-bar .nav-toggler {
        left: 20px; /* Adjust left position for smaller screens */
        top: 20px; /* Adjust top position for smaller screens */
        display: flex;
        z-index: 20; /*Ensure the toggler is above other elements*/
    }
}
